/* titolo navbar header */

/* titolo sezioni tipo di pasta*/

/* testi footer */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

.list-inline {
  display: flex;
  list-style: none;
}

.list-inline-vert {
  display: flex;
  flex-direction: column;
  list-style: none;
}

header {
  background-color: white;
  text-align: center;
}

header .header_logo {
  margin: 20px 0px;
}

header .ul-main-nav {
  justify-content: center;
}

header .ul-main-nav li {
  padding: 20px 20px;
}

header .ul-main-nav li a {
  padding: 20px 20px;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

header .ul-main-nav li a.active {
  background-color: #b3e5fc;
}

header .ul-main-nav li a:hover {
  background-color: #b3e5fc;
}

.wrap-prodotti {
  background-color: #daedf3;
  background-image: url("/images/main-bg.jpg");
  padding: 50px 0px 30px 0;
}

.wrap-prodotti h2 {
  font-size: 32px;
  margin: 20px 5px;
  color: #002d73;
}

.wrap-prodotti .tipo-pasta {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.wrap-prodotti .tipo-pasta .box {
  width: calc((100% - 30px) / 3);
  font-size: 0px;
  margin: 5px;
  position: relative;
  overflow: hidden;
}

.wrap-prodotti .tipo-pasta .box:hover .pic {
  transform: scale(1.4);
}

.wrap-prodotti .tipo-pasta .box .pic {
  width: 100%;
  transition: 1s all;
}

.wrap-prodotti .tipo-pasta .box .overlay {
  background-color: rgba(0, 45, 115, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap-prodotti .tipo-pasta .box .overlay:hover {
  background-color: rgba(0, 45, 115, 0.6);
}

.wrap-prodotti .tipo-pasta .box .overlay:hover .wrap-hover {
  display: block;
}

.wrap-prodotti .tipo-pasta .box .wrap-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: none;
}

.wrap-prodotti .tipo-pasta .box .wrap-hover .ico-rist {
  width: 15%;
  margin-top: 50px;
}

.wrap-prodotti .tipo-pasta .box .wrap-hover a {
  text-decoration: none;
  text-align: center;
  color: white;
}

.wrap-prodotti .tipo-pasta .box .wrap-hover a h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

footer {
  background-color: white;
  background-image: url("/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 50px 0;
  color: #a6adb7;
}

footer h3 {
  font-size: 24px;
  margin: 20px 0;
}

footer p {
  line-height: 20px;
  margin-top: 20px;
}

footer li {
  padding: 8px 0;
}

footer li a {
  text-decoration: none;
  color: #a6adb7;
}

footer .container {
  display: flex;
}

footer .container .col-center .nav-center-2 {
  margin-bottom: 100px;
}

footer .container .col-left,
footer .container .col-center,
footer .container .col-right {
  text-align: left;
  width: calc(100% / 3);
  margin: 0 10px;
}

footer .container .col-left img,
footer .container .col-center img,
footer .container .col-right img {
  max-width: 250px;
  width: 100%;
}

.single-prod {
  background-color: #bbdbe6;
  padding: 50px 0;
}

.single-prod .container .hide {
  display: none;
}

.single-prod .container .wrap-arrows {
  display: flex;
  justify-content: space-between;
}

.single-prod .container .jc_right {
  justify-content: right;
}

.single-prod .container h1 {
  color: #002d73;
  text-align: center;
}

.single-prod .container .wrap-img {
  font-size: 0;
}

.single-prod .container .wrap-img .img-pasta-h,
.single-prod .container .wrap-img .img-pasta-v {
  width: 100%;
}

.single-prod .container .descrizione {
  color: #002d73;
  font-size: 24px;
}

.wrap-news {
  background-color: #bbdbe6;
}

.wrap-news h1 {
  text-align: center;
  color: #002d73;
  padding: 100px 0;
}

