* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: $w_container;
}

.list-inline {
  display: flex;
  list-style: none;
}

.list-inline-vert {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  