header {
    background-color: white;
    text-align: center;
    .header_logo {
        margin: 20px 0px;
        }
    .ul-main-nav {
        font-size: 24px;
        justify-content: center;
        li:nth-child(2) a {
            background-color:$bg_color2;
        }
        li {
            padding: 20px 20px;
            a {
                padding: 20px 20px;
                text-decoration: none;
                color: $color1;
                font-weight: 700;
                &:hover {
                    background-color:$bg_color2;

                }
            }
            
        }
    }
}