.wrap-prodotti {
    background-color: $bg_color1;
    background-image: url('/images/main-bg.jpg');
    padding: 50px 0px 30px 0;
    h2 {
        font-size: 32px;
        margin: 20px 5px;
        color: $color2;
    }
    .tipo-pasta {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .box {
            width: calc((100% - 30px) / 3);
            font-size: 0px;
            margin: 5px;
            position: relative;
            overflow: hidden;
            &:hover .pic {
                transform: scale(1.4);
            }
            .pic {
                width: 100%;
                transition: 1s all;
            }
            .overlay {
                background-color: rgba($color: $color2, $alpha: 0);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                &:hover {
                    background-color: rgba($color: $color2, $alpha: 0.6);
                }
                &:hover .wrap-hover {
                    display: block;
                }
            }
            .wrap-hover {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                display: none;
                .ico-rist {
                    width: 15%;
                    margin-top: 50px;
                }
                a {
                    text-decoration: none;
                    text-align: center;
                    color: white;
                    h3 {
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

}
