.single-prod {
    background-color: $bg-color3;
    padding: 50px 0;
    position: relative;
    .container {
        .hide {
            display: none;
        }
        .prev-arrow {
            left: 0;
        }
        .next-arrow {
            right: 0;
        }
        .prev-arrow, .next-arrow {
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            background-color:rgba($color: white, $alpha: 0.6);
            i {
                padding: 30px 10px;
                font-size: 80px;
                color: white;
                &:hover {
                    color:$color2;
                }
            }
        }
        h1 {
            color: $color2;
            text-align: center;
        }
        .wrap-img {
            font-size: 0;
            .img-pasta-h, .img-pasta-v {
                width: 100%;
            }
        }
        .descrizione {
            color: $color2;
            font-size: 24px;
        }
    }
};