// COLORS
$color1: #000; /* titolo navbar header */
$color2: #002d73; /* titolo sezioni tipo di pasta*/
$color3: #a6adb7; /* testi footer */
$bg_color1: #daedf3;
$bg_color2: #b3e5fc;
$bg_color3: #bbdbe6; // sfondo pagina singolo prodotto

//DIMENSIONS
$w_container: 1024px;